<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

    <div>
    <h1>Sign In</h1>
      <form action="" method="post" name="login">
          {{ form.csrf_token }}
          <p>
              Login: {{ form.login }}
          {% for error in form.errors.login %}
          <span style="color: red;">[{{ error }}]</span><br>
          {% endfor %}
          </p>

          <p>
              Password: {{ form.password }}

          {% for error in form.errors.password %}
          <span style="color: red;">[{{ error }}]</span><br>
          {% endfor %}
          </p>

          <p>{{ form.remember_me }} Remember Me</p>
          <p><input type="submit" value="Sign In"></p>
      </form>

    </div>
    <div>
        <a href="{{ '/register' }}"> Register </a>
    </div>

{% endblock content %}